.game-view {
    position: absolute;
    inset: 0;
    background: #000;

    &__canvas {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    &__crosshair {
        position: fixed;
        width: 50px;
        height: 50px;
        pointer-events: none;
        z-index: 1000;
        transform: translate(-50%, -50%);
    }
}