:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.7);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  color: rgba(255, 255, 255, 0.7);
  background-color: #000;
}

* {
  box-sizing: border-box;
}

#app {
  position: fixed;
  inset: 0;
  background: #000;
}

.base-button {
    display: grid;
    place-content: center;

    border-radius: 100px;
    border: none;

    padding: 20px 30px;

    color: #000;
    background: #fff;

    font: bold 1rem sans-serif;

    cursor: pointer;

    &:disabled {
      opacity: 0.2;

      cursor: unset;
    }
}