.game-view {
    background: #000;
    position: fixed;

    width: 100vw;
    height: 100dvh;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

    &__calibration-message {
        font-size: 0.7rem;
    }

    &__calibration-button {
        color: #000;
        background: #D9D9D9;
        border-radius: 100px;
        border: none;
        align-self: center;
        padding: 5px 10px;

        margin-bottom: 2rem;
    }

    &__score {
        font-size: 10rem;
        font-weight: bold;
        height: 100%;
        align-content: center;
        align-self: center;
        line-height: 0;
    }
}