.qr-code-view {
  display: grid;
  place-content: center;

  position: absolute;
  inset: 0;

  gap: 1rem;

  &__heading {
    margin-top: 16px;
    font-size: 1rem;

    color: #ff0000;
    animation: blink 1.5s ease-in-out infinite;

    place-self: center;
  }

  &__players {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    flex-wrap: wrap;
  }

  &__player-square {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}